* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background: linear-gradient(90deg, rgba(103,34,128,1) 35%, rgba(166,38,211,1) 100%);
    display: flex;
    align-items: center;
    padding: 2%;
    margin-bottom: 5%;
}

nav img {
    margin-right: auto;
}

main {
    margin: auto;
    width: 50vw;
}

main img {
    width: 100%;
    display: block;
}

form {
    margin: auto;
    text-align: center;
}

input {
    width: 49%;
    font-size: 1.5rem;
    text-indent: 1%;
    outline: none;
}

input:first-of-type {
    margin-right: 2%;
}

button {
    font-size: 1.5rem;
    margin: 1% auto;
    display: block;
    width: 100%;
    background: linear-gradient(90deg, rgba(103,34,128,1) 35%, rgba(166,38,211,1) 100%);
}

.meme-container {
    position: relative;
}

.bottom, .top {
    position: absolute;
    color: black;
    left: 50%;
}

.bottom {
    bottom: 20%;
}

.top {
    bottom: 80%;
}